body{
	background:url("../images/background.png");
	max-width:100vw;
	margin:0;
}
#greetings{
	text-align:center;
	position: absolute;
	top:43%;
	width: 100%;
	text-align:center;
}
#greetings h1{
	font-size: 3em;
	letter-spacing: .12em;
	line-height: 1em;
	font-weight: 400;
	color: #000;
}
#greetings h2{
	font-size: 2em;
	color: #B7B7B7;
	margin-top: -.9em;
}
#landingContent{
	margin-top:10vh;
	height:95vh;
}
#about{
	background:#f8f8ff;
	background:rgba(248,248,255,0.2);
	color:white;
	padding-left:15vw;
	padding-right:15vw;
	padding-top:3vh;
	height:100vh;
}
#about h1{
	font-size: 3em;
}
#about p{
	font-size: 1.3em;
	color: #B7B7B7;
}
#landingContent{
	max-height:100vh;
	width:100vw;
}
svg{
	margin-top:-8em;
	top:200;
	position:absolute;
  left:0;
	max-width:100vw;
	height:100vh;
}
/*SVG Logo Styling*/
.bottom-blue {
	-webkit-transform-origin: 50% 50%;
}
.top-blue{
	-webkit-transform-origin: 50% 50%;
}
.middle{
	-webkit-transform-origin: 50% 50%;
}
.left-white{
	-webkit-transform-origin: 50% 50%;
}
.right-white{
	-webkit-transform-origin: 50% 50%;
}
