.groupbox{
	width:60%;
	margin-left:auto;
	margin-right:auto;
	display:inline-block;
	text-align:center;

}
.left{
	float:left;
	width:20%;
	height:800px;
	display:inline-block;

}
.right{
	float:right;
	width:20%;
	height:800px;
	display:inline-block;

}
.profileleft{
	display:inline-block;
	margin-left:2em;
	margin-top:2em;
	
}
.profileright{
	display:inline-block;
	margin-right:2em;
	margin-top:2em;
}
.profilename{
	text-align:center;
	font-size:20px;
	margin-top:1em;
}

.profileimage{
	height:200px;
	width:200px;
	-webkit-transition: background 1s ease;
  -moz-transition: background 1s ease;
  -o-transition: background 1s ease;
  transition: background 1s ease;
	
}

/*Setting the different Profile Images. Replace placeholder.jpg 
with your own image, and placeholdhover.jpg with the image
you wish to show up when hovered. All images MUST BE EXACTLY 200px by 200px.*/
.aditp{
	background:url("../images/members/adit.jpg");
}
.aditp:hover{
	background:url("../images/members/placeholdhover.jpg");	
}

.nicop{
	background:url("../images/members/nico.jpg");
}
.nicop:hover{
	background:url("../images/members/placeholdhover.jpg");	
}

.daikip{
	background:url("../images/members/LOL.jpg");
}
.daikip:hover{
	background:url("../images/members/placeholdhover.jpg");	
}

.katp{
	background:url("../images/members/katrina.jpg");
}
.katp:hover{
	background:url("../images/members/placeholdhover.jpg");	
}
