/*Setting the different Profile Images. Replace placeholder.jpg 
with your own image, and placeholdhover.png with the image
you wish to show up when hovered. All images MUST BE EXACTLY 200px by 200px.*/
.aditp{
	background:url("../images/members/adit.jpg");
	overflow:hidden;
	background-repeat:no-repeat;
}
.aditp:hover{
	background:url("../images/members/placeholdhover.png");	
	background-repeat:no-repeat;
	height:300px;
}

.nicop{
	background:url("../images/members/nico.jpg");
	overflow:hidden;
	background-repeat:no-repeat;
}
.nicop:hover{
	background:url("../images/members/placeholdhover.png");	
	background-repeat:no-repeat;
	height:300px;
}

.daikip{
	background:url("../images/members/daiki.jpg");
	overflow:hidden;
	background-repeat:no-repeat;
}
.daikip:hover{
	background:url("../images/members/daikihover.jpg");	
	background-repeat:no-repeat;
	height:300px;
}

.katp{
	background:url("../images/members/katrina.jpg");
	overflow:hidden;
	background-repeat:no-repeat;
}
.katp:hover{
	background:url("../images/members/placeholdhover.png");	
	background-repeat:no-repeat;
	height:300px;
}

.judgep{
	background:url("../images/members/nico.jpg");
	overflow:hidden;
	background-repeat:no-repeat;
}
.judgep:hover{
	background:url("../images/members/judgehover.jpg");	
	background-repeat:no-repeat;
	height:300px;
}

.namp{
	background:url("../images/members/nico.jpg");
	overflow:hidden;
	background-repeat:no-repeat;
}
.namp:hover{
	background:url("../images/members/placeholdhover.png");	
	background-repeat:no-repeat;
	height:300px;
}
.josephp{
	float:left;
	display:inline-block;
	margin-left:8%;

	background:url("../images/members/nico.jpg");
	overflow:hidden;
	background-repeat:no-repeat;
}
.josephp:hover{
	background:url("../images/members/placeholdhover.png");	
	background-repeat:no-repeat;
	height:300px;
}
.kolatatp{
	background:url("../images/members/nico.jpg");
	overflow:hidden;
	background-repeat:no-repeat;
	float:right;
	display:inline-block;
	margin-right:8%;
}
.kolatatp:hover{
	background:url("../images/members/placeholdhover.png");	
	background-repeat:no-repeat;
	height:300px;
}