body {
	background:url("../images/background.png");
	font-family: 'Helvetica';
	background-size: 100% 100% ;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

table {
	margin-left:15%;
	table-layout:fixed;
	margin-top:10px;
	
}

table tr td img {
	width:100%;
	border-radius: 10px 10px 0px 0px;
	display:block;
}

div.name {
	
	text-align:center;
	height:20%;
	padding-top:8px;
	padding-bottom:8px;
	color:black;
	background-color:#FAFAFA;
	border-radius: 0px 0px 10px 10px;
	font-family:Helvetica;
}

img.span {
	
	height:22%;
	
}



table tr td {
	padding: 20px;
}

.spanspan {
	padding-left:20px;
	padding-right:20px;
}
h1{
	color:white;
	font-family:Helvetica;
	padding-top:40px;

}

#biowrapper{
	height:38%;
	width:100%;
	background-color:#FAFAFA;
	border-radius: 0px 0px 10px 10px;
}
#bio{
	padding-top:15px;
	padding-bottom:15px;
	padding-left: 20px;
	padding-right:20px;
}

#bioheader {
	text-align:center;
	font-size:18px;
}

